/* Global */

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  background-color: #252525;
}

ul {
  list-style: none;
}


/* Explore */

nav {
  display: flex;
  justify-content: flex-end;
}

.nav-icon {
  width: 1.5em;
  height: auto;
  cursor: pointer;
}

.hero-sec h1 {
  color: #FFF;
  font-size: 4em;
}

.app-icon {
  width: 4.5em;
  height: 4.5em;
  transition: transform .5s ease;
}

.app-icon:hover {
  transform: scale(1.1);
}

form {
  margin: 1.5em auto 3em;
  border-radius: 7px;
  padding-bottom: 0;
  width: 70%;
  height: auto;
  color: #000;
  box-shadow: 0 2px 4px 4px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 992px) {
  form {
    width: auto;
  }
}

#search-field {
  border: 2px solid #BB2D3B;
}

#search-field::placeholder {
  font-style: italic;
  text-align: center;
}

.images-loading-icon-row {
  display: flex;
  justify-content: center;
  margin: 0.5em 0 3.2em;
}

.images-loading-icon {
  width: 1em;
  height: 1em;
  padding: 0;
  stroke-width: 1em;
  animation: spin 1.3s linear infinite;
  -webkit-animation: spin 1.3s linear infinite; /* Safari */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}


/* ThemeSwitcher */

.dark-theme-icon {
  transform: rotate(-45deg);
}


/* AutoSuggestions */

.auto-complete {
  width: 100%;
  z-index: 2;
  display: none;
}

.auto-complete ul {
  margin-top: 2px;
  border: 2px solid #BB2D3B;
  background-color: #FFF;
  border-radius: 8px;
  cursor: pointer;
}

.auto-complete ul li:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.auto-complete ul li:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.auto-complete ul li:hover {
  background-color: #BB2D3B;
  color: #FFF;
}


/* ImageGridView */

.hearts-loading-icon {
  width: 3em;
  z-index: 1;
} 

.image-container {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  width: 100%;
  height: 0;
  padding-top: 100%;
}

.image-container:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0; 
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 1s ease;
}

.image-container:hover .image {
  transform: scale(1.1);
}

.hearts-loading-icon {
  position: absolute;
  top: 0;
  left: 0;
}

.actions-on-img {
  position: absolute;
  top: 40%;
  z-index: 1;
  font-size: 1.6em;
  color: #FFF;
  visibility: hidden;
}

.download a, .download a:hover {
  color: inherit;
  text-decoration: none;
}

.heart-like, .save {
  cursor: pointer;
}

.likes .count {
  font-size: .65em;
}

.image-container:hover .actions-on-img {
  visibility: visible;
}

.attribution {
  position: absolute;
  bottom: 0;
  width: auto;
  z-index: 1;
  text-align: center;
  overflow-wrap: break-word;
  font-size: .85em;
  color: #FFF;
  visibility: hidden;
}

.attribution a {
  color: #FFF;
}

.image-container:hover .attribution {
  visibility: visible;
}


/* ButtonsPanel */

.btns-panel {
  position: fixed;
  bottom: 0;
  z-index: 1;
  height: 2.7em;
  display: none;
}

.btns-panel .theme {
  height: 2.5em;
}

.btns-panel .panel-btn.active {
  border: 2px solid #BB2D3B;
}


/* Modals */

.the-view-image-modal, 
.the-authentication-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}


/* ViewImageModal */

.the-view-image-modal img {
  max-height: 90vh;
  max-width: 150vh;
}


/* Authentication Modal */

.authentication-content {
  height: 90vh;
  width: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #252525;
}

.auth-heading {
  color: #FFF;
}

.firebaseui-card-content form {
  width: inherit;
  height: inherit;
  margin: 0;
}

.firebaseui-idp-list {
  width: 20em;
  height: 3.5em;
  margin : 0;
  display: contents;
}

.firebaseui-list-item {
  width: inherit;
  height: inherit;
}

.firebaseui-idp-button {
  width: inherit;
  height: inherit;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.firebaseui-idp-icon-wrapper {
  width: 2em;
  height: 2em;
  margin-right: 1em;
}

.firebaseui-idp-icon {
  width: inherit;
  height: inherit;
}

.firebaseui-idp-text-long {
  font-weight: 500;
}

.firebaseui-idp-text-short {
  display: none;
}