*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  background-color: #252525;
}

.hero-sec h1 {
  color: #FFF;
  font-size: 63px;
}

.hero-sec img {
  width: 80px;
  height: 80px;
}

form {
  width: 70%;
  margin: 20px auto 50px;
  border-radius: 8px;
  border: 2px solid rgb(66, 66, 180);
  color: #000;
  box-shadow: 0 2px 4px 4px rgba(0, 0, 0, 0.5);
}

.hearts-loading-icon {
  width: 50px;
  z-index: 1;
} 

.image {
  width: -webkit-fill-available;
  height: 250px;
}

.load-btn {
  width: auto;
  display: none;
}

.msg-user {
  text-align: center;
  color: #FFF;
}